<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    Find My Way
  </a>
</nav>

<div class="row">

  <!-- Main Grid -->
  <div class="col-md-8">
    <div class="grid-container">      
      <div *ngFor="let row of grid.getGrid(); let i = index" class="row">
        <div *ngFor="let cell of row; let j = index">
          <div class="grid-cell {{cell.class}}" (mousedown)="onGridClick(i,j)"  (mouseover)="mouseOver(i,j)" (mouseup)="mouseUp()" ></div>
        </div>      
      </div>
    </div>
  </div>

  <!-- Menu Column -->
  <div class="col-md-4 menu-container">
    <div class="menu-container2">
      <div *ngIf="userState == 0">
        <h5>#1: Choose your start position</h5>
      </div>
      <div *ngIf="userState == 1">
        <h5>#2: Choose your target position</h5>
      </div>
      <div *ngIf="userState == 2">
        <h5>#3: Click on grid to add any obstacle.</h5>
        <h5>#4: Select the short path method:</h5>
      </div>
      <div *ngIf="searchResultMessage">
        <h5>{{searchResultMessage}}</h5>
      </div>
      <div *ngIf="userState == 2">
        <div class="row mt-4">
          <button type="button" class="btn btn-primary btn-block" (click)="breadthFirstSearch()">Breadth-First Search</button>      
        </div>
      </div>
      <div class="row mt-4">
        <button type="button" class="btn btn-warning btn-block" (click)="resetGrid()">Reset</button>
      </div>
    </div>
  </div>

</div>