<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">    
    Find My Way
  </a>
  <div class="mr-4">
    <a href="https://github.com/leonardoasantos/short-path-app">
      <img width="50" height="50"src="https://icon-library.com/images/github-icon-png/github-icon-png-15.jpg">
    </a>
  </div>
</nav>

<div class="row">

  <!-- Main Grid -->
  <div class="col-md-8">
    <div class="grid-container" (mouseup)="mouseUp()">      
      <div *ngFor="let row of grid.getGrid(); let i = index" class="row">
        <div *ngFor="let cell of row; let j = index">
          <div class="grid-cell {{cell.class}}" (mousedown)="onGridClick(i,j)"  (mouseover)="mouseOver(i,j)"></div>
        </div>      
      </div>
    </div>
  </div>

  <!-- Menu Column -->
  <div class="col-md-4 menu-container">
    <div class="menu-container2">
      <!-- Sample Grid Selction -->
      <div *ngIf="userState == 0">
        <h5>{{instructions[0]}}</h5>
        <div class="row mt-4">
          <button type="button" class="btn btn-primary btn-block" (click)="loadGridSample(gridSamples[0])">City Blocks</button>      
          <button type="button" class="btn btn-warning btn-block" (click)="loadGridSample(null)">No, thanks</button>      
        </div>
      </div>

      <!-- Start Point Selection -->
      <div *ngIf="userState == 1">
        <h5>{{instructions[1]}}</h5>
      </div>

      <!-- Target Point Selection -->
      <div *ngIf="userState == 2">
        <h5><del>{{instructions[1]}}</del></h5>
        <h5>{{instructions[2]}}</h5>
      </div>

      <!-- Search Method Point Selection -->
      <div *ngIf="userState > 2">
        <h5><del>{{instructions[1]}}</del></h5>
        <h5><del>{{instructions[2]}}</del></h5>        
        <h5>{{instructions[3]}}</h5>
        <h5>{{instructions[4]}}</h5>        
        <div class="row mt-4">
          <div class="col-md-12 ml-auto" *ngIf="userState > 2 && userState < 5">
            <button type="button" class="btn btn-primary mr-2" (click)="breadthFirstSearch()">Breadth-First Search</button>      
            <button type="button" class="btn btn-primary mr-2" (click)="aStarSearch()">A* Search</button>      
          </div>
        </div>
      </div>

      <!-- Search Result Message -->
      <div class="mt-4" *ngIf="searchResultMessage">
        <h5>Result: {{searchResultMessage}}</h5>
      </div>

      <!-- Search Result Message -->
      <div class="mt-4" *ngIf="searchDescription" style="white-space: pre;">
        <label>{{searchDescription}}</label>
      </div>

      <!-- Reset Button -->
      <div class="row mt-4" *ngIf="userState != 0">
        <button type="button" class="btn btn-warning btn-block" (click)="resetGrid()">Reset</button>
      </div>

    </div>
  </div>

</div>