/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.grid-container {
    padding: 30px;
}

.grid-cell {
    border-style: solid;    
    border-width: 1px;
    border-color: grey;
    width: 30px;
    height: 30px;
}

.grid-cell-start-point {
    background-color: blue;
}
.grid-cell-target-point {
    background-color: red;
}

.grid-cell-visited{
    background-color: green;
}

.grid-cell-blocked{
    background-color: black;
}